			body {
				width: 100%;
				height: 100%;
				background-color: #dedfde;
				margin: 0;
				padding: 0;
			}

			table{
				background-color: white;
				border-radius: 5px;
				border-color: black;
				margin: auto;
				margin-top: 10px;
				border-collapse: collapse;
				border-style: hidden;
				box-shadow: 0 0 0 1px black;
			}

			tr{
				width: 100%;
				font-family: arial,sans-serif;
			}

			th {
				font-size: 170%;
				padding: 5px;
				text-align: center;
				font-weight: bold;
				border:1px solid black;
				border-collapse: collapse;
			}

			td {
			 	font-size: 150%;
			 	padding: 5px;
			 	text-align: center;
				border:1px solid black;
				border-collapse: collapse;
				border-width: 1px;
			}

			.tablecontainer {
				background-color: white;
				height: 230px;
				width: 760px;
				margin: 0 auto;
				border-color: white;
				border-radius: 5px;
				margin-top: 12%;
			}

			.tablehead{
				font-size: 180%;
				text-align: center;
				font-weight: bold;
				font-family: arial,sans-serif;
				caption-side: top;
				padding: 5px;
			}

			.header {
				font-size: 325%;
				font-family: 'Source Sans Pro', sans-serif;
				text-align: center;
				color: white;
				font-weight: 400;
				line-height: 95%;
				word-spacing: 10px;
				background-color: black;
				width: 100%;
				height: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.weatherwidget-io {
				width: 100%;
				max-width: 425px;
  			float: right;
  			right: 5%;
  			top: 20px;
				border-radius: 5px;
			}

			.names {
				font-size: 170%;
				padding: 5px;
				text-align: left;
				width: 15%;
			}

			.table {
				margin: 0 auto;
				background-color: white;
				width: 40%;
			}

			.firstrow {
				width: 100%;
				height: 400px;
			}

			/* CLOCK CSS */
			.clockdate-wrapper {
			    background-color: #000000;
			    padding:25px;
			    max-width:350px;
			    width:30%;
			    text-align:center;
			    border-radius:5px;
			    margin-left: 5%;
			    margin-top: 4.5%;
			    display:block;
    			float: left;
			}

			#clock{
			    background-color:#000000;
			    font-family:arial,sans-serif;
			    font-size:60px;
			    text-shadow:0px 0px 1px #fff;
			    color:#fff;
			}

			#clock span {
			    color:#888;
			    text-shadow:0px 0px 1px #333;
			    font-size:30px;
			    position:relative;
			    top:-27px;
			    left:-10px;
			}

			#date {
			    letter-spacing:10px;
			    font-size:22px;
			    font-family:arial,sans-serif;
			    color:#fff;
			}
